<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="TreeGeneratorTool">
  <meta name="author" content="Danijel Mlinaric">

  <title>Tree Generator Tool</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/1.7.1/viz.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//d3js.org/d3.v4.min.js"></script>
  <script src="https://unpkg.com/viz.js@1.8.0/viz.js" type="javascript/worker"></script>
  <script src="https://unpkg.com/d3-graphviz@1.3.1/build/d3-graphviz.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  	<div class="container"> 
      <a class="navbar-brand" href="#">Tree Generator Tool</a>
      <a class="text-white blockquote-footer" target="_blank" href="https://doi.org/10.3390/computers9020035">"Generating Trees for Comparison" (published)</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html" data-toggle="tooltip" data-placement="bottom" title="Random algorithm">Random</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Pattern algorithm">Pattern
            	<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="distort.html" data-toggle="tooltip" data-placement="bottom" title="Distort algorithm">Distort</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html" data-toggle="tooltip" data-placement="bottom" title="About our work">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="app">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-12 text-center">
	          <!-- <p class="lead">Click on "generate" to generate the tree or "animate" to see the tree generation step by step:</p>-->
	          <p></p>
				<div>
					<div class="card text-left">
						<div class="card-header card-header-space">Algorithm options<i class="fa fa-question-circle-o fa-w-16 fa-custom-x" v-on:click="toggleHelp" data-toggle="tooltip" data-placement="right" :title="questionTitle"></i></div>
					<div class="card-body">
					<form>
						<div class="form-group row">
	
						</div>
						 
					
					  <div class="form-group row">
						    <label for="noOfNodes" class="col-sm-2 col-form-label">Number of nodes</label>
						    <div class="col-sm-1">
						      <input type="text" class="form-control" id="noOfNodes" v-model="noOfNodes" placeholder="10" data-toggle="tooltip" data-placement="right" title="The size of the tree in the form of a number of nodes">
						    </div>
						  
					  </div>
					  
					    <div class="form-group row">
						    <label for="noOfLevels" class="col-sm-2 col-form-label">Number of levels</label>
						    <div class="col-sm-1">
						      <input type="number" class="form-control" id="noOfLevels" v-model="noOfLevels" placeholder="10" min="1" max="10" @input="noOfLevelsChanged" data-toggle="tooltip" data-placement="right" title="The number of levels in the tree defining the nodes distribution pattern">
						    </div>
					  </div>
					  
					  
					   <div class="form-group row">
					   	<label for="pattern" class="col-sm-2 col-form-label">Nodes distribution pattern (%)</label>
					  	 <div id="patternSliders" class="slider-container" data-toggle="tooltip" data-placement="right" title="It is required that the sum of all nodes per level is 100%">
						    	 <div v-for="item in pattern" v-bind:key="item.ID">
						    	 	<input v-bind:id="item.ID" type="range" class="vslider" min="0" max="100" step="1" v-bind:value.number="item.value"  v-on:change="sliderChange(item,$event)">
						    	 	<input class="pinput" v-bind:value.number="item.value" min="0" max="100" v-on:change="sliderChange(item,$event)" data-toggle="tooltip" data-placement="bottom" :title="(item.id + 1) + ' level number of nodes in %'">
						    	 </div>
						    </div>
					  </div>
					  
					  <fieldset class="form-group">
					   <div class="row">
					      <legend class="col-form-label col-sm-2 pt-0">Layout</legend>
					      <div class="col-sm-3">
					        <div class="form-check-inline">
					          <input class="form-check-input" type="radio" v-model="layout" name="layoutRadios" id="layoutRadios1" value="dot" checked @change="layoutChange" data-toggle="tooltip" data-placement="left" title="Default type of tree rendering"/>
					          <label class="form-check-label" for="layoutRadios1">
					            default (dot)
					          </label>
					        </div>
					        <div class="form-check-inline">
					          <input class="form-check-input" type="radio" v-model="layout" name="layoutRadios" id="layoutRadios2" value="twopi" @change="layoutChange" data-toggle="tooltip" data-placement="left" title="Radial type of tree rendering">
					          <label class="form-check-label" for="layoutRadios2">
					            radial (twopi)
					          </label>
					        </div>
					      
					      </div>
					    </div>
					  </fieldset>
					  <div class="form-group row">
					    <div class="col-sm-5">
					      <button class="btn btn-outline-dark" v-on:click="genPattern" type="button" data-toggle="tooltip" data-placement="left" title="Click to generate a tree by pattern">generate</button>
					      <button class="btn btn-outline-dark" v-on:click="animate" type="button" disabled>animate</button>
					      <button class="btn btn-outline-dark" type="button" v-on:click="download" data-toggle="tooltip" data-placement="bottom" title="Download generated tree data in dot format"><i class="fa fa-download"></i> download</button>
					      <button class="btn btn-outline-dark" type="button" v-on:click="goDistort" data-toggle="tooltip" data-placement="right" title="Use generated tree as input tree for distort algorithm">distort</button>
					    </div>
					  </div>
					  </div>
					</form>
				</div>
				
			</div>
	      </div>
	    </div>
	  	<div class="row">
	  		<div class="col-xs-offset-5 col-xs-2 text-center">
	  			<div id="graph-content"> 
	  				<div class="tree">
	  					<label v-html="renderInfoOutput"></label>
	  					<div id="tree-output" v-html="renderedOutput"></div>
	  					<div id="animate"></div>
	  				</div>
				</div>
			</div>
	  	</div>
	  </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- svg-pan-zoom -->
  <script src="vendor/svg-pan-zoom.min.js"></script>
  <!-- TreeGenerator JavaScript -->
  <script src="scripts/main.js"></script>
</body>
</html>
