.vslider{
	-moz-appearance: slider-vertical;
	-webkit-appearance: slider-vertical;
	width: 30px;
	height: 130px;
}

.vslider, .pinput {
	display: block;
}

.pinput{
	width: 28px; /*45px;*/
	text-align: center;
	margin: 2px;
}

.slider-container{
	display: flex;
}

.dist-params {
	display: flex;
}

.dist-params input {
	margin: 2px;
	width: 50px;
	padding: 0.375rem 0.45rem
}

#modified {
	width: 60px;
}

#graph-content {
	text-align: center;
	width: 600px;
	height: 600px;
	display: inline-flex;
	/*width: 600px;*/
	/*max-width: 1920px;
	max-height: 1080px;*/
	/*max-width: 800px;
	max-height: 800px;*/
}

.tree {
	width: 600px;
	height: 600px;
}

#graph-content svg {
/*.tree svg {*/
	/*max-width: 800px;
	max-height: 800px;*/
	width: 100%;
	height: 100%;
    /*height: 100%;
    width: 100%;*/
}

.card-header-space {
	display: flex;
	justify-content: space-between;
}

.fa-custom-x {
	cursor: pointer;
	font-size: 1.5em !important;
}

.fa-question-circle-o:hover:before{
	content: "\f059";
}

.fa-question-circle:hover:before{
	content: "\f29c";
}